<!-- src/app/components/producto/producto.component.html -->

<div *ngIf="mostrarModal" class="modal">
    <div class="modal-content">
      <h3>¿Estás seguro de que deseas eliminar este producto?</h3>
      <button (click)="eliminarProductoConfirmado()">Confirmar</button>
      <button (click)="cerrarModal()">Cancelar</button>
    </div>
  </div>
  
  <div>
    <h2>Productos</h2>
    <input
      type="text"
      [(ngModel)]="textoBusqueda"
      (input)="filtrarProductos()"
      placeholder="Buscar..."
    />
    <button (click)="irACrearProducto()" style="float: right; margin-bottom: 10px;">
      Registrar
    </button>
  
    <table border="1" cellspacing="0" cellpadding="5" style="width: 100%; margin-top: 20px;">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Categoría</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of productosPaginados">
          <td>{{ p.nombre }}</td>
          <td>{{ p.descripcion }}</td>
          <td>{{ p.precio }}</td>
          <td>{{ p.categoriaNombre }}</td>
          <td>
            <button (click)="irAEditarProducto(p.id ?? 0)">Editar</button>
            <button (click)="confirmarEliminarProducto(p.id ?? 0)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div style="margin-top: 20px;">
      <button (click)="cambiarPagina('previous')" [disabled]="paginaActual === 1">
        Anterior
      </button>
      <span> Página {{ paginaActual }} </span>
      <button
        (click)="cambiarPagina('next')"
        [disabled]="paginaActual === totalPaginas"
      >
        Siguiente
      </button>
    </div>
  </div>
  