<div *ngIf="mostrarModal" class="modal">
    <div class="modal-content">
      <h3>¿Estás seguro de que deseas eliminar este inventario?</h3>
      <button (click)="eliminarInventarioConfirmado()">Confirmar</button>
      <button (click)="cerrarModal()">Cancelar</button>
    </div>
  </div>
  
  <div>
    <h2>Inventarios</h2>
    <input
      type="text"
      [(ngModel)]="textoBusqueda"
      (input)="filtrarInventarios()"
      placeholder="Buscar..."
    />
    <button (click)="irACrearInventario()" style="float: right; margin-bottom: 10px;">
      Registrar
    </button>
  
    <table border="1" cellspacing="0" cellpadding="5" style="width: 100%; margin-top: 20px;">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Umbral de Alerta</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of inventariosPaginados">
          <td>{{ i.productoNombre }}</td>
          <td>{{ i.cantidad }}</td>
          <td>{{ i.umbral_alerta }}</td>
          <td>
            <button (click)="irAEditarInventario(i.id ?? 0)">Editar</button>
            <button (click)="confirmarEliminarInventario(i.id ?? 0)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div style="margin-top: 20px;">
      <button (click)="cambiarPagina('previous')" [disabled]="paginaActual === 1">
        Anterior
      </button>
      <span> Página {{ paginaActual }} </span>
      <button
        (click)="cambiarPagina('next')"
        [disabled]="paginaActual === totalPaginas"
      >
        Siguiente
      </button>
    </div>
  </div>
  